/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive; */
body {
    margin: 0;
   /* overflow-x: hidden;*/
}

header {    
    display: flex;
    justify-content: center;
    background: #131313;
    background-size: cover;
}

.header {
    display: flex;
    height: 83px;
    align-items: center;
    max-width: 1438px;
    margin-top: 5px;
}

@media screen and (max-width: 1225px) {
    nav.header {
        display: none;
    }
    .header {
        height: 57px;
        margin-top: 0px;
    }
}

.block-logo {
    margin-top: 5px;
    margin-right: -11px;
}

.block-logo__text {
    font-family: 'Nunito Sans', sans-serif;
    color: #E3B873;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

nav.header {
    width: 581px;
    margin-left: 63px;
}

.block-menu-list {
    display: flex;
    list-style-type: none;
    
}

.block-menu-list__items {
    padding-right: 23.5px;
    padding-left: 23.5px;
    line-height: 15px;
}

.block-menu-list > li:nth-of-type(2n) {
    padding-right: 40px;
}

.block-menu-list > li:first-child a {
    color: #E3B873;
}

.block-menu-list > li:nth-of-type(n) {
    padding-right: 33px;
}

.block-menu-list__items a {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: none;
}

.block-contact {
    display: flex;
    margin-left: 165px;
    margin-right: 15px;
}

.block-contact__tel {
    font-family: 'Nunito Sans', sans-serif;
    color: #E3B873;
    font-size: 11px;
    padding-right: 45px;
    margin-top: 15px;
}

.block-contact__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 4px;
    border: 0;
    padding: 13px 35px 10px 35px;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .block-contact__tel {
        margin-top: 3px;
        text-decoration: none;
        color: white;
    }

    .block-contact__btn {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    .block-contact__tel {
        white-space: nowrap;
        margin-right: 25px;
        padding-right: 0;
    }

    .block-logo {
        margin-left: 50px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 420px) {
    .block-contact {
        margin-left: 120px;
    }
    .block-logo {
        margin-left: 77px;
    }
}

@media screen and (min-width: 375px)  {
    .block-contact {
        margin-left: 95px;
    }
}




.wrap {
    z-index: -2;
    background-image: url('../img/main_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 707px;
}

.black {
    position: absolute;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 707px;
    z-index: 0;
}



.block-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0;
    width: 680px;
    height: 707px;
    margin-right: 602px;

}

.block-main-text {
    margin-top: -8px;
}

.block-main-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 576px;
    margin-top: -61px;
}

.block-main-text__header span {
    color: #E3B873;
}

.block-main-text__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 510px;
    margin-top: -8px;
}

.block-main-btns {
    display: flex;
    align-self: flex-end;
    position: absolute;
    left: 52px;
    bottom: 208px;

}

.block-main-btns__calc {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 18px 45px 17px 43px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    border: 0;
    margin-right: 20px;
    cursor: pointer;
}

.block-main-btns__submit {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    padding: 18px 30px 14px 27px;
}

@media screen and (max-width: 1200px) {
    .block-main {
        margin-right: 0;
    }

}

@media screen and (max-width: 660px) {
    .wrap {
        height: 476px;
    }
    .black {
        height: 476px;
    }
    .block-main {
        margin-top: -162px;
        width: 339px;
    }
    .block-main-text__header {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 338px;
    }
    .block-main-text__desc {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 0px;
        width: 339px;
    }
    .block-main-btns {
        left: -4px;
        bottom: 142px;
        flex-direction: column;
    }
    .block-main-text {
        width: 339px;
    }
    .block-main-btns__calc {
        width: 339px;
        height: 51px;
        margin-bottom: 26px;
    }
    .block-main-btns__submit {
        width: 339px;
        height: 51px;
    }
}

@media screen and (max-width: 375px) {
    .block-main {
        margin-right: -18px;
        margin-top: -151px;
    }
    .block-main-text__desc {
        width: 319px;
    }   
}

.block-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;;
    padding-bottom: 85px;
}

.block-slider-text {
    width: 442px;
    margin-right: 54px;
    margin-top: 152px;
}

.block-slider-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
}

.block-slider-text__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: -2px;
    margin-top: 25px;
}

.block-slider-text-parameter {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 107px 107px;
    width: 403px;
    margin-top: 32px;
}

.block-slider-text-parameter h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.block-slider-text-parameter p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: -15px;
}

.block-slider-text-parameter__citydesc {
    width: 127px;
    line-height: 23px !important;
}

.block-slider-text-dots {
    margin-top: 46px;
    
}
.block-slider-text-dots__arrowLeft {
    margin-right: 24px;
}

.block-slider-text-dots__dots {
    margin-right: 24px;
}

.block-slider-img {
    margin-top: 83px;
}

.block-slider-img-text {
    display: flex;
    margin-right: 4px;
    margin-bottom: 30px;
}

.block-slider-img-text h4 {
    margin-right: 60.5px;
}

.block-slider-img-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);

}

.block-slider-img-text__header:first-child {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    width: 194px;
    line-height: 27px;
}

.block-slider-img-btn__btnLeft {
    display: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.block-slider-img-btn__btnRight {
    display: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .block-slider {
        flex-direction: column;
    }
    .block-slider-text-dots {
        display: none;
    }
    .block-slider-img-text {
        display: none;
    }
    .block-slider-text__desc {
        margin-bottom: 600px;
    }
    .block-slider-img {
        position: absolute;
    }
    .block-slider-img-btn__btnLeft {
        display: block;
        position: absolute;
        top: 44%;
        left: 3%;
    }
    .block-slider-img-btn__btnRight {
        display: block;
        position: absolute;
        top: 44%;
        right: 3%;
    }
}

@media screen and (max-width: 720px) {
    .block-slider-img__img {
        width: 520px;
    }
}

@media screen and (max-width: 560px) {
    .block-slider-text {
        margin-left: 154px;
        margin-right: 98px;
        margin-top: 16px;
        width: 344px;
    }
    .block-slider-text__header {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        width: 227px;
        margin-left: 37px;
        margin-bottom: 30px;
    }
    .block-slider-text__desc {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%; /* or 17px */
        text-align: center;
        color: #FFFFFF;
        width: 311px;
        margin-bottom: 334px;
    }
    .block-slider-img {
        top: 20.5%;
        left: 5%;
    }
    .block-slider-img__img {
        width: 340px;
    }
    .block-slider-text-parameter {
        margin-left: -17px;
        width: 375px;
    }
    .block-slider-text-parameter h3 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.6%; /* identical to box height, or 19px */
        text-transform: uppercase;
        color: #E3B873;
    }
    .block-slider-text-parameter p {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        color: #FFFFFF;
        
    }
}

.block-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.block-feedback-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #131313;
    margin-top: -84px;
    height: 409px;
    width: 100%;
}

.block-feedback-head__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -178px;
    margin-right: 2px;
}

.block-feedback-head__img {
    margin-top: -2px;
    display: flex;
    align-items: center;
    margin-right: 3px;
}

.block-feedback-head__lineLeft {
    width: 32px;
    margin-right: 8px;
}

.block-feedback-head__cam  {
    width: 33px;
}

.block-feedback-head__lineRight {
    width: 32px;
    margin-left: 4px;
}

.block-feedback-text__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.block-feedback-video {
    position: absolute;
    margin-left: -6px;
    margin-top: -285px;
}

.block-feedback-video__btn {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 203px;
    left: 416px;
    border-radius: 50%;
    border: 0;
    background-color: #E3B873;
    padding: 30px 30px 27px 32px;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.block-feedback-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 270px;

}

.block-feedback-text__desc {
    width: 652px;
    margin-top: 28px;
}

.block-feedback-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    margin-right: 12px;
}

.block-feedback-form label {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-right: 56px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.block-feedback-form__input {
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    line-height: 27px;
}

.block-feedback-form__input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #363636;
}

.block-feedback-form__btn {
    margin-top: 7px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 77px 9px 74px;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.block-feedback__checkbox {
    margin-top: 33px;
    margin-right: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.block-feedback__check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.block-feedback__check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.block-feedback__check+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.block-feedback__check:checked+.block-feedback__checkbox::before {
    background-color: #E3B873;
    border-color: #E3B873;
    background-image: url('../icons/checkbox.svg');
}

.block-feedback__check:not(:disabled):not(:checked)+label:hover::before {
    border-color: #E3B873;
}

.block-feedback__check:not(:disabled):active+label::before {
    background-color: #E3B873;
    border-color: #E3B873;
}

.block-feedback__check:focus:not(:checked)+label::before {
    border-color: #ffffff;
}

@media screen and (max-width: 840px) {
    .block-feedback-video__img {
        width: 604px;
        margin-left: 8px;    
    }
    .block-feedback-video__btn {
        top: 123px;
        left: 272px;
    }
    .block-feedback-form {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .block-feedback {
        background-color: #131313;
    }
    .block-feedback-head {
        margin-top: -141px;
    }
    .block-feedback-head__header {
        margin-top: -221px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%; /* or 30px */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

    }
    .block-feedback-head__img {
        margin-right: -14px;
    }
    .block-feedback-video {
        margin-top: -455px;
    }
    .block-feedback-video__img {
        width: 377px;
        height: 252px;
        margin-left: 18px;
    }
    .block-feedback-video__btn {
        padding: 9px 9px 7px 15px;
        top: 93px;
        left: 186px;
    }
    .block-feedback-text {
        margin-top: -2px;
        margin-left: 19px;

    }
    .block-feedback-text__desc {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 169.8%; /* or 19px */
        text-align: center;
        color: #FFFFFF;
        width: 340px;
        margin-top: 20px;
    }
    .block-feedback-form {
        margin-top: 65px;
        margin-right: 33px;
    }
    .block-feedback-form label {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);

    }
    .block-feedback-form label input {
        background: #131313;
        border-bottom: 1px solid rgba(255, 255, 255, .7);
        width: 136%;
    }
    .block-feedback-form label input::placeholder {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.72%; /* or 19px */
        color: #FFFFFF;
    }
    .block-feedback-form label input:nth-of-type(n) {
        margin-bottom: 51px;
    }
    .block-feedback-form__btn {
        position: absolute;
        bottom: -24px;
        width: 90%;
        left: 18px;
    }
    .block-feedback__checkbox {
 
        margin-bottom: 87px;

        margin-top: -25px;
        color: #FFFFFF;
        margin-right: 34px;
    }
}

.block-types {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 49px;   
    margin-right: 10px;
    margin-bottom: 160px;
}

.block-types-head div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.block-types-head__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.block-types-head__tools {
    padding-left: 9px;
    padding-right: 9px;
}

.block-types-cards {
    display: flex;
    justify-content: center;
    margin-left: 31px;
    margin-top: 20px;
}

.block-types-card-text {
    position: relative;
    margin-right: 59px;

}

.block-types-card-text div {
    background-color: #fff;
    width: 330px;
    margin-top: 293px;
    margin-left: 32px;
}
 
.block-types-card-text__img {
    position: absolute;
    z-index: -1;
}

.block-types-card-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-top: 23px;
    padding-left: 33px;

}

.block-types-card-text-list {
    margin-top: -16px;
    margin-left: 7px;
}

.block-types-card-text-list li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    text-indent: -6px;
}

.block-types-card-text__btn  {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);  
    border: 0;
    padding: 17px 21.44px 17px 21.44px;
}

@media screen and (max-width: 1250px) {
    .block-types-cards {
        flex-direction: column;
    }
    .block-types-cards {
        margin-bottom: 20px;
    }
    .block-types-card-text__img {
        top: 59px;
    }
}

.block-call {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-call__img {
    position: absolute;
    margin-right: 810px;
    margin-top: -106px;
}

.block-call-text {
    margin-top: 54px;
    margin-left: 180px;
}

.block-call-text div {
    display: flex;
    align-items: center;
    margin-bottom: 59px;
}

.block-call-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 1px;
    padding: 11px 32px 9px 13px;
}

.block-call-text__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363636;
    margin-left: 11px;
    margin-top: 13px;

    letter-spacing: 0.5px;
}

.block-call-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-call-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 546px;
    height: 550px;
    background-color: #131313;;
    margin-top: 8px;
    margin-left: 224px;

}

.block-call-form__header {
    width: 274px;
    margin-top: 31px; 
    margin-bottom: 37px;
    letter-spacing: .6px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
}

.block-call-form label {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 32px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 46px;
    width: 408px;
    padding-bottom: 9px;
}

.block-call-form label:nth-of-type(n+1) {
    margin-bottom: 50px;
}

.block-call-form label:nth-of-type(n+3) {
    margin-bottom: -7px !important;
}

.block-call-form label:nth-of-type(n+4) {
    display: inline;
    margin-top: 22px;
    margin-left: -118px;
    letter-spacing: 0.9px;
    width: 285px;
    line-height: 26px;
    color: #fff;
    border: 0;
}

.block-call-form label>input {
    background-color: #131313;
    color: #fff;
    border: 0;
    outline: 0;
    margin-top: 6px;
    margin-right: 11px;
    letter-spacing: 0.6px;
}


.block-call-form label>input:active:hover:focus {
    
    border: 0;
    outline: 0;
    background-color: transparent;
}

.block-call-form label>input::placeholder {
    background-color: #131313;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;

}

.block-call-form__btn  {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 0;
    align-self: flex-end;
    margin-top: 13px;
    letter-spacing: 0.6px;
    margin-right: 54px;
    padding: 19px 38px 17px 47px;
    cursor: pointer;
}

.block-call-pig {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -87px;
    margin-left: 663px;

}

.block-call-pig__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 11px;
    margin-top: -2px;
    letter-spacing: 0.6px;
}
@media screen and (max-width: 1024px) {
    .block-call {
        display: none;
    }
}
.wrapper{
    background-image: url('../img/styles_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 321px;
    z-index: -1000;
    position: relative;
    height: 864px;
}

.wrapper-black {
    position: absolute;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    height: 864px;
    z-index: -9;
}

.block-examples {
    display: flex;
    justify-content: center;

}

.block-examples-text {
    margin-left: 41px;
    margin-top: 103px;
}

.block-examples-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    text-transform: uppercase;
    color: #E3B873;
    width: 380px;
    letter-spacing: 0.6px;
}

.block-examples-text-list  {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: -38px;
    margin-top: 52px;
}

.block-examples-text-list li {
    padding-bottom: 12px;
}

.block-examples-text-list li:first-child {
    color: #E3B873;
    border-bottom: 0.66px solid #E3B873;
    line-height: 0.2px;
    margin-bottom: 18px;
    width: 150px;
}

.block-examples-pics {
    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 574px 350px;
    margin-left: 147px;
}

.block-examples-pics__1 {
    margin-top: -44px;
    margin-left: -36px;
}

.block-examples-pics__2 {
    margin-top: -116px;
    margin-left: -5px;
}

.block-examples-pics__3 {
    margin-top: -18px;
    margin-left: -34px;
}

.block-examples-pics__4 {
    margin-top: -375px;
    margin-left: -6px;
}
.block-examples-slider {
    display: none;
}
@media screen and (max-width: 1024px) {
    .wrapper-black {
        display: none;
    }
    .block-examples {
        flex-direction: column;
        align-items: center;
    }
    .block-examples-text-list {
        display: none;
    }
    .block-examples-pics {
        display: none;
    }
    .wrapper {
        background-image: url();
        margin-top: -290px;
        height: 379px;
    }
    .block-examples-text__header {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        width: 322px;
    }
    .block-examples-slider {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .block-example-slider-img__img {
        width: 340px;
        height: 242px;
    }
    .block-example-slider-img-btn__btnLeft {
        position: absolute;
        background: transparent;
        border: 0;
        outline: 0;
        z-index: 1;
        top: 42%;
        left: 4%;
        cursor: pointer;
    }
    .block-example-slider-img-btn__btnRight {
        position: absolute;
        background: transparent;
        border: 0;
        outline: 0;
        top: 42%;
        right: 4%;
        cursor: pointer;
    }
}

.block-client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 23px;
}

.block-client-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-client-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.block-client-text__desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-top: 21px;
}
.block-client-text-pics {
    display: flex;
    align-items: center;
    margin-top: -8px;
    margin-right: -5px;
}

.block-client-text-pics__lineLeft {
    padding-right: 10px;
}

.block-client-text-pics__lineRight {
    padding-left: 10px;
}

.block-client-card {
    display: flex;
    justify-content: center;
    margin-right: 151px;
    margin-top: 39px; 
}

.block-client-card-head {
    display: flex;
    align-items: center;
    margin-left: 116px;
}

.block-client-card-head__header {
    width: 178px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 23px;
}

.block-client-card__desc {
    width: 319px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #959595;
    margin-left: 120px;
    margin-top: 10px;
}

.block-client-card-head__photo {
    border-radius: 50%;
}

.block-client-card-home {
    display: flex;
    margin-left: 94px;
    margin-top: 41px;
}

.block-client-card-home div {
    width: 135px;
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgb(227 184 115 / 50%);
    margin-left: 2.03px;
    padding: -4px 37px 33px 
}

.block-client-card-home div:last-child {
    width: 158px;
}

.block-client-card-home__count {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.block-client-card-home__square {
    margin-left: 16px;
    padding-right: 17px;
}

.block-client-card-home__days {
    margin-left: 9px;
    padding-right: 16px;
}

@media screen and (max-width: 1250px) {
    .block-client-card {
        margin-right: 69px;
        flex-direction: column;
    }
    .block-client-card div {
        margin-bottom: 20px;
    }
    .block-client-card div p {
        width: 256x;
        text-align: center;
    }
}

.block-map {
    position: relative;
    display: flex;
    justify-content: center;
    height: 954px;
    background-image: url('../img/map_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 355px;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 954px;
    background-color: black;
    opacity: 0.87;
    z-index: 0;
}

.block-map-form {
    background: #181818;
    width: 886px;
        height: 447px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -223px;
    margin-left: 44px;
    z-index: 7;
}

.block-map-form__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 33px;

}

.block-map-form-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}

.block-map-form-wrap div{
    display: flex;
}

.block-map-form-wrap div label {
    align-self: flex-start;
    justify-self: flex-start;

}

.block-map-form-wrap label {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.block-map-form-wrap label input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #181818;
}

.block-map-form-wrap label input {
    outline: 0;
    border: 0;
    padding: 0;
}

.block-map-form-wrap label input {
    background: #181818;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    
}

.block-map-form-wrap__name input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #181818;

}

.block-map-form-wrap__name {
    margin-right: 62px;
}

.block-map-form-wrap__ask {
    margin-top: 50px;
    width: 517px !important;
    margin-right: 4px;
}

.checkbox {
    margin-top: 12px;
    margin-left: 12px;
}

.checkbox label{
    display: flex;
    flex-direction: row;
    width: 286px;
    border: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    
}

.block-map-form__btn {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    padding: 15px 76px 8px 76px;
    cursor: pointer;
}

.block-map-text {
    z-index: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-map-text__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 274px;
    margin-left: 20px;
}
    
.block-map-text-icons {
    margin-top: 3px;
    margin-left: 17px;
}

.block-map-text-icons__inst {
    margin-left: 11px;
}

.block-map__img {
    position: absolute;
    width: 925px;
    height: 465px;
    z-index: 5;  
    top: 424px;
    margin-left: 16px;
}

@media screen and (max-width: 970px) {
    .block-map-form {
        width: 100%;
        margin-left: -2px;
    }
    .block-map-form-wrap {
        width: 70%;
    }
    .block-map-form-wrap div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .block-map-form-wrap div label{
        margin-bottom: 25px;
        width: 100%;
    }
    .block-map__img {
        width: 456px;
        height: 367px;
        margin-left: 0px;
    } 
    .block-map-form-wrap__ask {
        margin-top: 0;
        width: 100% !important;
    }
    .block-map-form__btn {
        margin-top: 0;
        width: 85%;
    }
}

@media screen and (max-width: 570px) {
    .checkbox {
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .block-map__img {
        width: 340px;
        height: 255px
    } 
    .block-map {
        height: 720px;
    }
    .opacity {
        height: 720px;
    }
}


footer {
    display: flex;
    justify-content: center;
    background: #131313;
    background-size: cover;
}

.footer {
    display: flex;
    height: 133px;
    align-items: center;
    max-width: 1438px;
    margin-left: 36px;
    margin-top: 5px;
}

@media screen and (max-width: 400px) {
    .footer {
        margin-left: -40px;
        width: 92%;
    }
}
